// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$black: #2E2E2E
$white: #fff
$baseTxt: #2E2E2E
$gray: #212429
$orange: #FF4D00
$orangeHov: #EF3E06
$lightOrange: #F18D17
$lightOrangeGradient:  linear-gradient(180deg, $orange 0%, $lightOrange 100%);
$purple: #4263EB
$yellow: linear-gradient(180deg, #F1B417 0%, #FFE178 100%)
$beige: #FFDAAF
$green: #53FD97
$gray1: #F6F6F6
$gray2: #ECECEC
$gray3: #CACACA
$gray4: #7F7F7F


// FONTS
$baseFont: 'Gilroy'
$baseRem: 112.5%

//gradients
$gradientTop: linear-gradient(162.77deg, rgba(33, 0, 74, 0.3) 8.05%, rgba(0, 135, 211, 0.3) 85.43%), $orange

//shadows
$shadow: 0px 1px 9px rgba(0, 0, 0, 0.15)
$btn-shadow: 0 7px 15px -5px rgba(0,0,0,.12)
$btn-shadow-hov: 0 5px 15px -2px rgba(0,0,0,.2)

//border-radius
$borderBase: 7px
$borderMedium: 6px
$borderLarge: 10px

//transition
$transition: 0.4s ease

// MEDIA POINTS
$point-1: 320px
$point-2: 480px
$point-3: 768px
$point-4: 960px
$point-5: 1210px
$point-6: 1500px
$point-7: 1700px
$point-8: 2250px

// GUTTER
$baseGutter: 30px

// TYPOGRAPHY
@import 'variables/typography-variables'

//UI ELEMENTS
@import 'variables/ui-elemnts-varibles'
