.header-search
	form(name="search-from" action="")
		label.form-field
			input.form-field__input.form-field__input--gray(name="search" type="search" placeholder="Поиск по сайту" required)
		button.header-icon.header-icon--search(type="submit")
			+svg('search')