include ../mixins/blocks

section.instagram 
	.wrapper.wrapper--large
		.instagram__top.left-indent
			h2.title-border Instagram
			.instagram__label Следуй за нами 
			.instagram__tags 
				h3 #foxlodge
				h3 #лисьянора 
		.instagram__slider.swiper-container.js-slider-instagarm
			.instagram__part.swiper-wrapper
				+instagram('images/inst-1.jpg','Чемпионат Московской области по спортинг-компакту. ')
				+instagram('images/inst-2.jpg','Окунись в небо 💦')
				+instagram('images/inst-3.jpg','Вернись, лесной олень, По моему хотенью ...')
				+instagram('images/inst-4.jpg','Лето уходит, праздник остается! ☀️')
				+instagram('images/inst-5.jpg','50 оттенков зеленого ☘️🌿')
				+instagram('images/inst-6.jpg','Чемпионат Московской области по спортинг- компакту. ')