.menu.js-menu
	.wrapper.wrapper--medium 
		include header-search
		.menu__list
			.menu__column
				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Размещение
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") Бумеранг
						li: a.link.link--default(href="#") Коттеджи
						li: a.link.link--default(href="#") FOX-INN
						li: a.link.link--default(href="#") Лоджи Highlands

				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Рестораны
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") RED DEER
						li: a.link.link--default(href="#") СПА-Кафе
						li: a.link.link--default(href="#") Барбекю

			.menu__column
				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Стрельба
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") Стрельба по тарелочкам
						li: a.link.link--default(href="#") Пулевая стрельба
						li: a.link.link--default(href="#") Оружейная мастерская

				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Foxland SPA
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") Услуги SPA
						li: a.link.link--default(href="#") Контакты

			.menu__column
				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Развлечения
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") Спортивные площадки
						li: a.link.link--default(href="#") Фитнес
						li: a.link.link--default(href="#") Ледовая Арена
						li: a.link.link--default(href="#") Прокат инвентаря
						li: a.link.link--default(href="#") Спортивные маршруты
						li: a.link.link--default(href="#") Рыбалка
						li: a.link.link--default(href="#") Детские площадки
						li: a.link.link--default(href="#") Гольф-симулятор
						li: a.link.link--default(href="#") Виртуальный тир
						li: a.link.link--default(href="#") Бильярд
						li: a.link.link--default(href="#") Боулинг
						li: a.link.link--default(href="#") Караоке
						

			.menu__column
				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Мероприятия
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") Корпоративные мероприятия
						li: a.link.link--default(href="#") Частные мероприятия
						li: a.link.link--default(href="#") Для Event-агентств
						li: a.link.link--default(href="#") Календарь мероприятий

				.menu-block.js-mobile-menu
					h6.js-mobile-menu__title Лисья нора
					ul.js-mobile-menu__list
						li: a.link.link--default(href="#") О нас
						li: a.link.link--default(href="#") Клубные и подарочные карты
						li: a.link.link--default(href="#") Новости
						li: a.link.link--default(href="#") Документы
						li: a.link.link--default(href="#") Контакты
