.about-top 
	padding-bottom: 20px
	&__foil
		width: 100% 
		height: 891px 
		+foil
		background-size: auto 

		+bp(1850px)
			background-size: cover

	&__part 
		display: flex
		h1 
			position: relative 
			z-index: 2 
			max-width: 670px
			margin-bottom: 0
		.video-content__block
			padding-top: 90px
			max-width: 920px 
			width: 100%

	&__desc 
		max-width: 482px 
		margin-left: 90px
		padding-top: 60px

	+bp(1300px)
		&__desc 
			margin-left: 30px 
			max-width: 30%

	+bp(1150px)
		&__part 
			display: block
			.video-content__block
				width: auto 
				max-width: 100%
		&__desc 
			max-width: 481px
			padding-top: 0 
			margin-left: 0

	+bp($point-4)
		&__part 
			h1 
				font-size: 7.5vw
			.video-content__block
				padding-top: 60px
				padding-bottom: 0

	+bp($point-3)
		&__foil 
			height: 85vw

	+bp(650px)
		padding-bottom: 0
		&__part 
			display: block
			.video-content__block
				padding-top: 20px
			h1 
				font-size: rem(32px)



.step 
	padding: 40px 0
	&__part 
		display: flex
		margin: 0 -15px
		max-width: 1520px

	&-unit 
		width: 33.33%
		width: 100%
		padding: 0 15px
		color: $gray4

		&__wrap 
			max-width: 276px

		&:first-child 
			.step-unit__wrap
				max-width: 250px
	+bp($point-4)
		padding: 20px 0 30px
	+bp(650px)
		padding-top: 0
		&__part 
			display: block
			padding-left: 35px
			padding-top: 10px
		&-unit
			margin-bottom: 33px
			&:last-child 
				margin-bottom: 0

	+bp($point-2)
		padding-bottom: 25px
		&-unit 
			max-width: 200px




.area 
	padding: 50px 0
	&__foil
		width: 100% 
		height: 800px 
		+foil
		color: $white
		display: flex 
		align-items: center
		background-size: auto 

		+bp(1850px)
			background-size: cover

		.title-large 
			max-width: 938px

	.video-content__block
		margin-left: auto
		&:before 
			width: 45%
		&:after 
			content: ''
			width: 2000px 
			height: 100% 
			position: absolute 
			top: 0 
			left: 99%
			background-color: $white

	+bp(1400px)
		&__foil 
			height: 55vw

	+bp($point-5)
		.video-content__block 
			width: 100%
			&:after 
				display: none

	+bp($point-4)
		padding: 10px 0 30px
		.video-content__block 
			padding-top: 50px

	+bp(700px)
		&__foil 
			height: 65vw

	+bp(650px)
		.video-content__block 
			padding-top: 20px

.eko 
	.wrapper
		max-width: 1356px
	&__part 
		display: flex 
		padding: 50px 0
		&--center 
			align-items: center
	&__item 
		width: 48%
		padding-left: 55px
		&:first-child 
			width: 52%
			padding-left: 0 
			padding-right: 55px

		&--left 
			padding-left: 0
	&__forest 
		display: flex
		position: relative
	&__desc 
		max-width: 460px
		margin-left: 50px
		h2 
			margin-top: 0
		.link 
			margin-top: 30px

		&--relax 
			max-width: 328px
		&--left 
			margin-left: 0
			padding-top: 25px
			padding-bottom: 60px
			p
				max-width: 400px
			

		&--forest 
			max-width: 429px
			margin-bottom: 180px
			margin-top: -100px

			+bp($point-5)
				margin-bottom: 90px

	&__image 
		&--right 
			text-align: right

	&__image-forest 
		width: 49.6vw
		position: absolute 
		right: 50.5% 
		top: 9%

		+bp(1400px)
			top: 20%


	+bp($point-5)
		&__desc 
			margin-left: 0

	+bp($point-4)
		padding: 30px 0
		&__part 
			display: block 
			padding: 0px 0 40px
			&--reverse 
				display: flex 
				flex-direction: column-reverse
				padding-bottom: 0
			p 
				&:last-child 
					margin-bottom: 0
		&__forest 
			display: block 
		&__item 
			width: 100% 
			padding: 0 
			&:first-child 
				width: 100% 
				padding: 0
		&__desc 
			max-width: 100% 
			margin-top: 60px
			padding-top: 0
			&--left 
				max-width: 465px
				padding-bottom: 40px
			&--forest 
				margin-bottom: 40px
			&--fly 
				margin-bottom: 40px

		&__image, 
		&__image-forest
			width: 100%
			img 
				width: 100%

		&__image-forest
			position: static
			margin-bottom: 30px

	+bp($point-2)
		padding-top: 10px
		&__desc 
			margin-top: 30px
			.link 
				margin-top: 0px
			&--left 
				padding-bottom: 20px
			&--forest,
			&--fly 
				margin-bottom: 15px
		&__part 
			padding-bottom: 15px
		&__image-forest 
			margin-bottom: 15px
