.left-indent
	padding-left: 8%

	+bp(1400px)
		padding-left: 0

.about
	padding: 120px 0 55px

	&__part 
		display: flex 
		justify-content: space-between

	&__desc 
		max-width: 500px
		margin-right: 0px
		padding-top: 20px

		h6
			font-weight: 500

	&__desc-unit
		max-width: 338px

	+bp($point-5)
		&__desc 
			padding-top: 0

	+bp($point-4)
		padding-top: 90px
		padding-bottom: 40px
		&__part 
			display: block 

		&__desc 
			max-width: 100% 
			display: flex 
			justify-content: space-between
			padding-bottom: 20px 

			h2 
				margin-bottom: 0

			h6  
				margin-top: 20px
		&__desc-unit
			margin-left: 30px

	+bp(700px)
		padding: 60px 0 30px
		&__desc
			display: block
			h2 
				max-width: 300px
		&__desc-unit 
			margin-left: 0 
			margin-top: 30px

	+bp($point-2)
		&__desc
			h2 
				max-width: 200px



.services
	padding: 55px 0
	&-slider
		overflow: visible
		margin-top: 45px
		min-width: 1500px

	&-block
		display: block 
		color: $baseTxt 
		border: none
		transition: 0s

		h6 
			margin: 17px 0
			font-weight: 500
			transition: 0.3s

		&__image 
			overflow: hidden
			img 
				display: block
				transition: 1.4s ease-in-out
				transform-origin: 50% 100%
		&:hover
			.services-block__image 
				img 
					transform: scale(1.2)
			h6 
				color: $orange
	.swiper-slide
		opacity: 0.3
		h6 
			opacity: 0

	.swiper-slide-visible
		opacity: 1 
		h6 
			opacity: 1

	h2 
		margin-top: 0
	&__top
		display: flex
	&__desc 
		margin-left: 170px
		max-width: 340px
		p 
			&:first-child
				margin-top: 14px
			&:last-child
				margin-bottom: 0

	+bp(1550px)
		&-slider 
			min-width: 0 
			width: 95%
			margin-left: 0

			img 
				width: 100%

	+bp($point-4)
		padding: 40px 0
		&__top 
			display: block
		&__desc 
			margin-left: 0 
			max-width: 547px
		.navigation-arrows
			display: none

		&-slider 
			margin-top: 30px

	+bp($point-2)
		padding: 30px 0
		&-slider
			width: 84%

		.swiper-slide 
			opacity: 1


.banner
	padding: 55px 0 45px
	&__inner
		width: 100%
		padding: 130px 55px 131px
		+foil 
		color: $white 
		background-image: url(../images/foil-2.jpg)
	&__part 
		display: flex 
		justify-content: space-between
		align-items: center
		max-width: 1450px 
	&__desc 
		max-width: 582px
		h2 
			margin: 0 0 60px

	+bp($point-4)
		padding: 40px 0
		margin: 0 -55px

		&__part 
			display: block

		&__inner
			padding-bottom: 0
			background-position: 28% 50%
		&__image 
			margin-top: 93px

			img 
				margin-bottom: -55px

	+bp(700px)
		margin: 0 -20px

	+bp($point-2)
		padding: 15px 0 30px
		&__desc 
			h2 
				max-width: 218px
				margin-bottom: 35px
		.btn 
			width: auto

		&__inner 
			padding-top: 70px
			padding-left: 40px 
			padding-right: 40px
		&__image
			margin-top: 40px



.architecture
	padding: 45px 0 110px
	&__part 
		display: flex
		justify-content: space-between
		&--top 
			padding-bottom: 30px
	&__block 
		width: 50%

		&:nth-child(2)
			width: 41.3%

		h2 
			margin-top: 0

		h6 
			color: $orange
			margin-top: 0 
			margin-bottom: 35px

		.left-indent 
			padding-left: 22%

		p 
			max-width: 414px

	+bp(1400px)
		&__block
			.left-indent
				padding-left: 0px

	+bp($point-4)
		padding: 90px 0 40px
		&__block
			width: 100%
			margin-bottom: 35px
			&:nth-child(2)
				width: 100%

			h6 
				margin-bottom: 20px
		&__part 
			display: block 
			padding-bottom: 0
		&__image 
			img 
				width: 100%
	+bp($point-2)
		padding-bottom: 30px

.rest 
	padding: 50px 0
	&-block
		&__part 
			width: 100% 
			display: flex 
			justify-content: space-between
		&__desc 
			max-width: 476px 
			margin-right: 30px
			padding-top: 300px

			h4 
				color: $orange

			+bp(961px,'min')
				h4
					transform: translateX(100px)
					transition: 0.4s 
				p 
					transform: translateX(50px)
					transition: 0.4s 
					transition-delay: 0.3s
		&__image
			overflow: hidden 
			+bp(961px,'min')
				img 
					transition: 1.4s
					transform: scale(1.1)

	&__inner 
		position: relative

	&__title 
		position: absolute 
		top: 140px 
		left: 0
		h2 
			margin-top: 0
	&-slider 
		.navigation-arrows 
			position: absolute 
			top: 230px 
			left: 0
			z-index: 3

		+bp(961px,'min')
			.swiper-slide 
				opacity: 0 !important
				transition: 1s
			.swiper-slide-active 
				opacity: 1 !important


		.swiper-slide-active
			.rest-block 
				&__desc 
					h4,p 
						transform: translateX(0)

				&__image 
					img 
						transform: translateY(0)

	+bp($point-5)
		&__title 
			top: 80px
		&-slider
			.navigation-arrows 
				top: 160px
		&-block 
			&__desc 
				padding-top: 200px

	+bp($point-4)
		padding-bottom: 25px

		&__title 
			position: static 
			margin-bottom: 40px
		&-slider
			width: 65%
			margin-left: 0
			overflow: visible
			.navigation-arrows 
				display: none
		&-block
			&__part 
				flex-direction: column-reverse
			&__desc 
				padding-top: 0px
				margin-right: 0
				h4 
					margin-top: 40px

	+bp($point-2)
		padding-top: 35px
		padding-bottom: 15px
		&__title
			margin-bottom: 27px
		&-slider
			width: 80%
		&-block 
			&__desc 
				h4 
					margin: 25px 0 15px



.spa 
	padding: 50px 0 
	.wrapper
		padding: 0 20px 0 0
		max-width: 1748px
		margin-left: 0
	&__part 
		display: flex
	&__image--right,
	&-desc
		margin-top: 140px
	&-desc 
		margin-left: 86px 
		max-width: 405px
		padding-top: 15px
		h2 
			max-width: 272px
	&__image 
		margin-right: 10%
		&--right 
			margin-left: auto
			margin-right: 0

	+bp($point-5)
		&__image 
			margin-right: 5% 
			&--right 
				margin-right: 0
		&-desc 
			margin-left: 40px

	+bp($point-4)
		padding: 35px 0 40px
		.wrapper 
			padding-right: 0
		&__part 	
			flex-wrap: wrap
		.spa-desc
			margin-left: 0
			padding-left: 50px
			order: 1
			margin-top: 0
			width: 100%
			max-width: 100%
			margin-bottom: 30px
			p,ul,ol
				max-width: 405px
			h2 
				margin-top: 0
		&__image 
			width: calc(50% - 35px)
			margin-right: 35px 
			order: 2
			&--right 
				margin-right: 0px 
				margin-left: 35px
				order: 3
				margin-top: 90px

	+bp(700px)
		padding: 25px 0 30px
		.spa-desc 
			padding-left: 20px
			padding-top: 0

	+bp($point-2)
		.wrapper
			padding: 0 20px
		.spa-desc 
			padding-left: 0 
			margin-bottom: 10px
		&__image 
			margin-top: 0 
			width: calc(50% - 10px)
			margin-right: 10px 
			img 
				width: 100% 
				height: 100% 
				object-fit: cover
			&--right 
				margin-right: 0 
				margin-left: 10px
		


.complex
	padding: 50px 0
	.wrapper 
		margin-left: auto 
		margin-right: 0 
		padding: 0 0 0 20px 
		max-width: 1780px

	&__block 
		display: flex
	&__image 
		width: 47%
		text-align: right
		margin-left: auto
		margin-top: -170px

	.spa-desc 
		margin-top: 0
		max-width: 472px
	&__image2 
		width: 37%
	&__title
		display: none

	+bp(1600px)
		&__image 
			margin-top: -5%

	+bp(1400px)
		&__image 
			margin-top: 40px

	+bp(1024px)
		&__block 
			h2 
				margin-top: 0 
		&__image 
			width: 70%

	+bp($point-4)
		.wrapper 
			padding: 0 50px
		&__block 
			display: block
		&__image2 
			width: 100%
		.spa-desc 
			padding-left: 0 
			margin-left: 0 
			width: 100% 
			max-width: 100%
			h2 
				display: none
			h4 
				margin-top: 25px
		&__image 
			width: 100%
			text-align: left
		&__title
			display: block
			max-width: 376px
			h2 
				margin-top: 0

	+bp(700px)
		.wrapper
			padding: 0 20px

	+bp($point-2)
		padding: 30px 0
		&__title
			h2 
				margin-bottom: 30px
		.spa-desc 
			padding-top: 0
		&__image 
			margin-top: 30px

.events 
	padding: 45px 0
	
	&__top 
		display: flex 
		justify-content: space-beetween
		padding-bottom: 40px
	&__desc 
		max-width: 658px
		p 
			margin-top: 0 
	&__title 
		max-width: 622px 
		margin-right: 30px 
		h4 
			margin-top: 0px

	h2 
		margin-top: 0
		margin-bottom: 40px

	&-slider 
		max-width: 1150px
		margin-left: 0 
		overflow: visible

	.navigation-arrows
		width: calc(100% - 130px)
		margin: 0 auto
		+center('both')
		z-index: 3

		&__item 
			&.swiper-button-disabled
				opacity: 0

	+bp($point-5)
		&-slider 
			max-width: 90%

	+bp($point-4)
		padding: 35px 0
		&__top 
			display: block
			padding-bottom: 10px
		h2 
			margin-bottom: 30px
		.navigation-arrows
			display: none

	+bp($point-2)
		padding: 25px 0
		&-slider 
			max-width: 80%
		h2 
			margin-bottom: 24px


.content
	width: 100% 
	position: relative
	margin-bottom: -10px

	&.active 
		.content__video-bar
			opacity: 1	
	&__preview 
		width: 100% 
		height: 100% 
		position: absolute 
		top: 0 
		left: 0 
		z-index: 2 
		background-repeat: no-repeat 
		background-position: center center 
		background-size: cover 
		background-image: url('../images/focus.jpg')

	&__video 
		width: 100%

	&__icon 
		width: 136px 
		height: 136px
		+center('both')
		z-index: 2
		cursor: pointer

		.icon 
			stroke: none 
			transform: scale(0.5)
			transform-origin: 50% 50%

		.stroke-solid
			opacity: 0.3


		@include bp(700px)
			width: 90px 
			height: 90px

	&__video-bar 
		position: absolute 
		left: 0
		bottom: 125px
		right: 0 
		margin: auto 
		width: 80% 
		height: 3px
		background-color: hsla(0,0%,100%,.2) 
		overflow: hidden 
		cursor: move 
		touch-action: pan-y
		user-select: none
		@include bp(700px)
			bottom: 25px
			
	&__video-progress
		display: block 
		width: 100% 
		height: 100% 
		background-color: $white 
		transform: scaleX(0) 
		transform-origin: 0 0 
		position: relative 
		z-index: 1
	&__video-drag
		width: 1px 
		height: 20px 
		top: -10px 
		position: absolute 
		z-index: 2 
		transform-origin: 0 0

.stroke-dotted 
  opacity: 0
  stroke-dasharray: 4,5
  stroke-width: 1px
  transform-origin: 50% 50%
  transition: opacity 1s ease, stroke-width 1s ease
.stroke-solid 
  stroke-dashoffset: 0
  stroke-dasharray: 300
  stroke-width: 1px
  transition: stroke-dashoffset 1s ease, opacity 1s ease

.icon
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out


.content__icon:hover
  .stroke-dotted
    stroke-width: 1px
    opacity: 0.7
    animation: spin 4s infinite linear
  .stroke-solid 
    opacity: 0
    stroke-dashoffset: 300
  .icon
    transform: scale(0.7)



@keyframes spin
  to
    transform: rotate(360deg)

.video-content 
	&__block 
		width: calc(100% - 660px)
		background-color: $white 
		margin-top: -80px
		position: relative 
		z-index: 3
		padding: 70px 0 15px
		&:before 
			content: ''
			width: 2000px 
			height: 100% 
			position: absolute 
			top: 0 
			right: 99%
			background-color: $white
	&__unit 
		max-width: 453px 
		padding-left: 50px 
		position: relative
		&:before 
			content: ''
			width: 1px 
			height: 90% 
			+center('h')
			left: 0 
			background-color: $orange
		p  
			margin: 0

	+bp($point-5)
		&__block 
			width: auto 
			display: inline-block
			padding-right: 40px

	+bp(650px)
		&__block 
			margin: 10px 0 0
			width: 100% 
			padding-top: 22px
			padding-right: 0
		&__unit 
			padding-left: 25px



