.restaurants
    &__inner
        margin-top: 110px

    &__block
        margin-bottom: 75px
        display: flex 
        justify-content: space-between

    &-slider 
        flex: 0 0 58%
        max-height: 450px

    &__content
        margin-left: 72px
        h3
            margin: 0 0 30px
        p
            margin: 30px 0 36px
            color: $gray4
            
        .details
            display: flex
            flex-wrap: wrap
            margin-bottom: 38px

            &__item 
                margin: 0 0 16px
                line-height: 22px
                font-weight: 500
                font-size: 16px
                color: $baseTxt
                flex: 0 0 35% 
                margin-right: 30px
                &:last-child
                    margin-bottom: 0
                svg
                    width: 24px
                    height: 24px
                    float: left
                    margin-right: 15px
                    stroke-width: 1px
        .btn 
            margin-right: 46px
    


