.nav
	display: block
	transition: 0.4s 
	&.hide 
		opacity: 0 
		visibility: hidden 
		pointer-events: none
	&-list
		display: flex
		margin: 0 
		padding: 0 

	&-item
		margin: 0
		padding: 0 30px
		&:after
			display: none

	+bp(1500px)
		&-item 
			padding: 0 1.5vw

	+bp(1300px)
		&-item 
			padding: 0 1vw

	+bp($point-5)
		&-item 
			padding: 0 5px

	