.btn
	display: inline-flex
	align-items: center
	justify-content: center
	font-family: $baseFont
	color: $white
	font-size: $btn-fs
	font-weight: 600
	text-align: center
	white-space: nowrap
	transition: 0.3s ease
	cursor: pointer
	padding: 0 25px
	border: 1px solid $orange
	height: $btn-h
	background-color: $btn-orange

	&:hover
		background-color: $btn-orange-hover
		color: $white
	
	&[disabled],
	&.disabled
		opacity: .5
		pointer-events: none


	&--gray 
		border-color: $btn-gray-color
		background-color: $btn-gray-color
		color: $baseTxt
		border-width: 3px

		&:hover
			background-color: $white 
			color: $baseTxt

	&--bor 
		background-color: $white 
		border-color: $btn-flat-bor
		color: $baseTxt

		&:hover 
			border-color: $btn-flat-bor-hover
			color: $baseTxt
			background-color: $white

	&--bor-dark
		background-color: $white 
		border-color: $black
		color: $baseTxt

		&:hover 
			border-color: $orange
			color: $baseTxt
			background-color: $white

	&--bor-white
		border-color: $white 
		background-color: transparent
		color: inherit

		&:hover 
			border-color: $orange
			background-color: transparent

	&--white 
		border-color: $white 
		background-color: $white
		color: $baseTxt 
		font-weight: 700

		&:hover
			border-color: $orange
			background-color: $orange
			color: $white
	&--small 
		height: $btn-h-small

	+bp($point-2)
		height: $btn-h-480
		width: 100%
		font-size: $btn-group-fs-480





	
	