.form-field
	position: relative
	display: block
	width: 100%
	margin-bottom: 30px
	
	&[disabled],
	&.disabled
		opacity: .5
		pointer-events: none

	+bp(600px)
		margin-bottom: 15px

	&__input
		font-family: $baseFont
		display: block
		width: 100%
		padding: 0px 20px 0px
		height: $input-h
		line-height: $input-h
		border: 1px solid $input-bor-color
		color: $input-color
		font-size: $input-fs
		transition: .3s linear
		font-weight: 600
		
		&:focus
			border-color: $input-bor-color-focus
			

		+bp($point-2)
			height: $input-h 
			line-height: $input-h
			font-size: $input-fs-xs



	&__textarea 
		height: 120px 
		line-height: 1.5	
		padding-top: 12px 
		padding-bottom: 20px

		+bp($point-2)
			height: 90px	
	&__label
		display: flex 
		align-items: center
		position: absolute
		top: -8px
		left: 12px
		padding: 0 5px
		background-color: $white 
		z-index: 2
		display: flex
		align-items: center
		font-size: $input-pl
		font-weight: 600
		// will-change: transform
		// transform-origin: 20px 0
		// transition: .3s linear
		&--top 
			align-items: flex-start 

		+bp($point-2)
			font-size: $input-fs-xs
		
	&__icon
		position: absolute
		top: 0
		bottom: 0
		right: 16px
		margin: auto 0
		width: 24px
		height: 24px
		opacity: 0
		transition: opacity .3s linear
		+foil 
		background-image: url('../images/alert.svg')
		z-index: 3
		
		svg
			width: 100%
			height: 100%
			fill: transparent

	label.error
		line-height: 41px
		width: calc(100% - 2px)
		height: calc(100% - 3px)
		padding: 0 20px
		font-weight: 600
		color: $input-color-error
		font-size: $input-fs
		position: absolute 
		top: 50%
		transform: translateY(-50%)
		left: 0
		left: 1px
		z-index: 2
		background-color: $white
		&:after 
			content: ''
			position: absolute
			top: 0
			bottom: 0
			right: 16px
			margin: auto 0
			width: 24px
			height: 24px
			transition: opacity .3s linear
			+foil 
			background-image: url('../images/alert.svg')
			z-index: 3

		+bp($point-2)
			font-size: $input-fs-xs

	.select2-container
		width: 100% !important
		
	&--focused
		// .form-field__label,
		// .select2-selection__placeholder
		// 	transform: translate(0,-8px) scale(0.7)
		
			

	&-textarea
		.form-field__icon
			bottom: auto 
			top: 16px


label.error
	display: none
			
