a
	display: inline
	text-decoration: none
	font-size: inherit
	transition: 0.3s
	outline: none
	color: $link-color
	border-bottom: 1px solid transparent
	
	&:hover
		border-color: $link-color

	&.disabled 
		pointer-events: none 
		color: $gray3

		svg 
			fill: $gray3

.link
	display: inline-block
	font-size: $link-fs
	line-height: $link-lh

	&--default
		color: inherit
		font-size: inherit 
		border: none
		&:hover
			color: $orange

	&--gray-news
		color: $gray4
		border: none


		&:hover
          border: none
          color: $orange





	&--icon
		position: relative 
		margin-left: 30px
		svg 
			width: 24px 
			height: 24px 
			stroke-width: 0
			fill: $link-color
			position: absolute 
			left: -32px 
			top: 50% 
			transform: translateY(-50%)

	&--gray 
		color: $gray3 
		svg 
			fill: $gray3

		&:hover
			color: $orange 
			svg 
				fill: $orange

	&--large
		font-size: $link-fs-large
		color: inherit
		border: none
		font-weight: bold

		&:hover 
			color: $orange 

	&--b-dark 
		color: $black 
		border-color: $gray3
		font-weight: 700
		&:hover
			border-color: $black

	&.active
		color: $orange


	+bp($point-2)
		&--large 
			font-size: rem(16px)


.rules 
	font-weight: 600 
	color: $gray4