svg 
	fill: transparent
	stroke: $baseTxt
	width: 100%
	height: 100%
	transition: 0.3s

.icon
	display: inline-flex
	align-items: center 
	justify-content: center
	border-radius: 50%

	&--login
		width: 44px
		height: 45px
		background: $gray2

		svg 
			width: 22px 
			height: 20px

		&:hover
			background-color: $gray5


	&--soc 
		width: 48px 
		height: 48px 
		border: 1px solid $gray3
		transition: 0.3s

		svg 
			stroke-width: 0
			transition: 0.3s
			fill: $baseTxt

		&:hover 
			border-color: $orange 
			background-color: $orange

			svg 
				fill: $white

		+bp($point-2)
			width: 38px 
			height: 38px
			svg 
				transform: scale(0.8)

	&--instagram
		svg 
			width: 18px 
			height: 18px

	&--facebbok
		svg 
			width: 11px 
			height: 21px

	&--ex
		svg 
			width: 26px 
			height: 16px