// H1
$h1-fs: rem(50px)
$h1-lh: 126%

// H1 768
$h1-fs-768: rem(44px)

// H1 480
$h1-fs-480: rem(24px)
$h1-lh-480: 120%



// H2
$h2-fs: rem(28px)
$h2-lh: 150%

// H2 480
$h2-fs-480: rem(22px)
$h2-lh-480: 132%



// H3
$h3-fs: rem(23px)
$h3-lh: 130%

// H3 480
$h3-fs-480: rem(20px)
$h3-lh-480: 140%



// H4
$h4-fs: rem(20px)
$h4-lh: 130%

// H4 480
$h4-fs-480: rem(18px)
$h4-lh-480: 140%



// H5
$h5-fs: rem(18px)
$h5-lh: 130%

// H5 480
$h5-fs-480: rem(16px)
$h5-lh-480: 140%



// H6
$h6-fs: rem(15px)
$h6-lh: 130%

// H6 480
$h6-fs-480: rem(15px)
$h6-lh-480: 140%



// P
$p-fs: rem(18px)
$p-lh: 150%

// P 480
$p-fs-480: rem(15px)
$p-lh-480: 150%



// SMALL
$small-fs: rem(13px)
$small-lh: 150%



// BLOCKQUOTE
$blockquote-fs: rem(18px)
$blockquote-lh: 150%



//Button
$btn-fs: rem(16px)



//Link
$link-color: $blue
$link-color-hover: $blue-dark
$link-fs: rem(14px)
$link-lh: rem(16px)
$list-item-color: $purple
