.page__banner
    position: relative
    background-repeat: no-repeat 
    background-size: cover
    h2 
        color: $white
        padding: 90px 0
        margin: 0 auto
        max-width: 1060px
        text-align: center


.restaurants
    .page__banner
        background-image: url('../images/restaurants-banner.jpg')
        
.placement
    .page__banner
        background-image: url('../images/placement-banner.jpg') 

.shooting
    .page__banner
        background-image: url('../images/shooting-banner.jpg') 