.page__banner
    position: relative
    img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 100%
        object-fit: cover
    h2 
        color: $white
        padding: 90px 0
        margin: 0 auto
        max-width: 1060px
        text-align: center


.restaurants
    .page__banner
        background-image: url('../images/restaurants-banner.jpg')
        
.placement
    .page__banner
        background-image: url('../images/placement-banner.jpg') 

.shooting
    .page__banner
        background-image: url('../images/shooting-banner.jpg') 
