extends pug/base

append vars
	- title = 'Главная'

block content
	
	section.slider
		.slider__wrap
			.slider__shadow
			.slider__slider.js-main-slider.swiper-container
				.swiper-wrapper
					+sliderItem('background-image: url(images/slide-1.jpg)','video/video-3.mp4')
					+sliderItem('background-image: url(images/slide-1.jpg)','video/video-2.mp4')
					+sliderItem('background-image: url(images/slide-1.jpg)','video/video-1.mp4')
				.slider-pagination.swiper-pagination
			.slider-category.js-slider-category.swiper-container
				.swiper-wrapper
					.slider-category__item.swiper-slide
						span 01 
						h6 Отдых за рубежом... Москвы
					.slider-category__item.swiper-slide
						span 02
						h6 Ценителям активного отдыха
					.slider-category__item.swiper-slide
						span 03
						h6 Стрельба - любителям и профессионалам

	section.about
		.wrapper.wrapper--large
			.about__part
				.about__desc.left-indent
					h2.title-decor Лисья нора 
					.about__desc-unit
						h6.title-line Зона отдыха
						.numeral.numeral--line-top 60 га
						p Завтрак у озера, прогулки на свежем воздухе, чистый водоем с песчаным пляжем – все это в 39 км от Москвы.

				.about__image
					img(src="images/image-1.jpg" alt="image")

	section.services
		.wrapper.wrapper--large
			.services__top.left-indent
				h2 Многообразие услуг   
				.services__desc
					p В одном комплексе сочетаются разнообразные возможности для спорта, отдыха и восстановления сил.
			.left-indent
				.navigation-arrows
					.navigation-arrows__item.js-prev-services
						+svg('prev')
					.navigation-arrows__item.js-next-services
						+svg('next')
				.services-slider.swiper-container.js-slider-services
					.swiper-wrapper
						.swiper-slide
							+services('images/services-1.jpg','Спортивные площадки')
						.swiper-slide
							+services('images/services-2.jpg','Фитнес')
						.swiper-slide
							+services('images/services-3.jpg','Прогулочные маршруты')
						.swiper-slide
							+services('images/serivices-4.jpg','Рыбалка')
						.swiper-slide
							+services('images/services-2.jpg','Фитнес')
						.swiper-slide
							+services('images/services-3.jpg','Прогулочные маршруты')
						.swiper-slide
							+services('images/services-2.jpg','Фитнес')
						.swiper-slide
							+services('images/services-3.jpg','Прогулочные маршруты')
		

	


		





