extends pug/base-white

append vars
    - title = 'Новости'

block content
    section.news-block
        .wrapper
            h2 Новости
            .news-block-wrapper
                .news-block-list
                    .news-block-column
                        +news-block-item('images/news-img/block-1.png' ,'17 Июля, 2020','Ловись рыбка большая и маленькая','В последнее воскресенье июля состоится турнир «Foxland» по ловле на поплавочную удочку.')
                    .news-block-column
                        +news-block-item('images/news-img/block-2.png', '2 Июля, 2020', 'Требуются лодочники!', 'Дорогие гости, для освежающей водной прогулки вы можете воспользоваться лодкой вместимостью до 5 человек. ' )
                    .news-block-column
                        +news-block-item('images/news-img/block-3.png', '26 Июня, 2020','Red Deer открывает свои двери!', 'Мы обеспечиваем социальное дистанцирование и проводим санитарно-эпидемические мероприятия в помещении ресторана до и после каждого гостя.')
                    .news-block-column
                        +news-block-item('images/news-img/block-4.png', '17 Июля, 2020', 'Преобразуем солнечный свет в электроэнергию', 'Лисья Нора запустила самую мощную солнечную электростанцию на территории Москвы и Подмосковья.')
                    .news-block-column
                        +news-block-item('images/news-img/block-5.png', '2 Июля, 2020', 'Изменение в режиме работы', 'Дорогие гости! В целях противодействия распространению коронавируса переходим на режим обязательной самоизоляции.')
                    .news-block-column
                        +news-block-item('images/news-img/block-6.png', '26 Июня, 2020', 'Изменения режима работы в СПА-Кафе', 'СПА-Кафе работает по предварительной записи.')
                    .news-block-column
                        +news-block-item('images/news-img/block-7.png', '17 Июля, 2020', 'Бронирование услуг Foxland SPA', 'В последнее воскресенье июля состоится турнир «В целях сохранения вашего здоровья, мы изменили в СПА режим приема заказов. ﻿')
                    .news-block-column
                        +news-block-item('images/news-img/block-8.png', '2 Июля, 2020', 'Весна идет – весне дорогу!', '8 марта – весенняя праздничная программа в ресторане RED DEER для всех гостей!')
                    .news-block-column
                        +news-block-item('images/news-img/block-9.png', '26 Июня, 2020', 'На недельку в Лисью нору!', 'Мы обеспечиваем социальное дистанцирование и проводим санитарно-эпидемические мероприятия в помещении ресторана до и после каждого гостя.')
                .news-block-button
                    .news-block-btn-list
                        a.btn.btn--bor 1
                        a.btn.btn--bor 2
                        a.btn.btn--bor 3
                        a.btn.btn--bor 4
                        a.btn.btn--bor 5
                    .btn--bor.btn-next
                        a.btn.btn--bor Следующая
            .news-subscribe
                .news-subscribe-title
                    h3 Подписаться на уведомления
                    p Присоединяйся и следи за новостями!
                .news-subscribe-title-email
                    .form-mailing
                        form.js-form(name="mailing" action="#")
                            label.form-field
                                input.form-field__input.form-field__input--bor-orange(name="email" type="email" placeholder="Email" data-msg="Заполните поле" required)
                            button.form-mailing__btn(type="submit") Подписаться на новости