extends pug/base-white

append vars
    - title = 'Размещение'

block content
    //- ...
    section.placement
        +page-banner('images/placement-banner.jpg', 'Варианты размещения на любой вкус')
        .wrapper.wrapper--medium
            .placement__inner
                .placement__types.types-placement
                    ul.types-placement__list.js-types__list
                        li
                            a(href="#bumerang").types-placement__link.active Бумеранг
                        li
                            a(href="#cottege").types-placement__link Коттеджи
                        li
                            a(href="#fox-inn").types-placement__link FOX-INN
                        li
                            a(href="#lodge").types-placement__link Лоджи Highlands

                .placement__type#bumerang
                    include pug/particles/bumerang
                .placement__type#cottege
                    include pug/particles/cottege
                .placement__type#fox-inn
                    include pug/particles/fox-inn
                    
                