extends pug/base-white

append vars
    - title = 'Стрельба'

block content
    //- ...
    section.shooting
        +page__banner('Идеальное место для любителей и профессионалов')
        .wrapper.wrapper--medium
            .shooting__inner
                .shooting__block.shooting__types
                    .shooting__type
                        img(src="images/shooting-02.jpg", alt="")
                        .shooting__type-content
                            h3 
                                b Стрельба по тарелочкам
                            a.btn(href="#") Выбрать
                    .shooting__type
                        img(src="images/shooting-01.jpg", alt="")
                        .shooting__type-content
                            h3 
                                b Стрельба по тарелочкам
                            a.btn(href="#") Выбрать

                .shooting__block.shooting__rules
                    .shooting__rule
                        +svg('rings')
                        p
                            b Правила безопасности при стендовой стрельбе
                    .shooting__rule
                        +svg('rule')
                        p
                            b Правила безопасности в тире
                    .shooting__rule
                        +svg('ring4')
                        p
                            b Тарифы на услуги и на патроны
                .shooting__block.shooting__room
                    h3  Оружейная мастерская
                    p На территории «Лисьей норы» работает оружейная мастерская.      Ремонт, сервисное и техническое обслуживание оружия
                    a.btn.btn--white.btn--small(href="#") Прейскурант






