extends pug/base

append vars
	- title = 'Title goes here'

block content
	article(style="padding-top: 55px;")
		.wrapper
			h1 Live chat support live chat implementation and best practices
			p  
				img(src="images/text-1.jpg", alt="")
			.content(style="max-width: 1040px; margin-top: 45px;")
				p Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. 
				h2 Live chat is a powerful tool, <span style="color: #FF4D00">but only</span> when it’s used
				p This feeling of trust only increases if you use <a href="#">live chat as part</a> of a full customer <a href="#">support experience</a>. If you’re checking in with customers via email, keeping your phone lines open and taking calls, and being present on social media, you’re showing them.
				h3 4 best practices for a successful live chat support 4 best practices for a successful live chat support experience
				p Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. 
				h4 H4. Идейные соображения высшего порядка
				p With live chat software, you can measure website traffic data or draw from what you already know about your products to decide where your support is most useful. A few ideas:
				ul 
					li If most of your website traffic is to a specific support page, add live chat there
					li If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
					li If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
				p This support can go far beyond simply answering questions before they sign up or make a purchase – it can strengthen and lengthen your relationship with each customer.
				h5 Customers are more likely to buy
				ol 
					li Including an estimated wait time for a response, based on the first time to response 
					li Letting them know they can receive an email when you come online
				h6 Идейные соображения высшего порядка
				p Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника. 